---
import { Image } from "astro:assets";
import DefaultLayout from "../layouts/DefaultLayout.astro";
import pfp from "../imgs/pfp.png";
---

<DefaultLayout title="Home">
  <div class='container-fluid justify-content-center mt-3'>
    <div class='row align-items-center'>
      <div class='col'>
        <h1 class='text-center'>Hi, I&apos;m Brooke!</h1>
        <h5 class='text-muted text-center'>
          I&apos;m a web developer who majored in ITWS from RPI in May of 2021.
        </h5>
      </div>
      <div class='col d-flex justify-content-center'>
        <Image src={pfp} alt='A picture of Brooke' height={400} />
      </div>
    </div>
    <div class='container mt-3'>
      <div class='card bg-light'>
        <div class='card-header'>Who Am I?</div>
        <div class='card-body'>
          <h5 class='card-title'>A Developer</h5>
          <p class='card-text'>
            I am a web developer, primarily working in React, but also learning
            Rust+Wasm, as well as F# and Elixir. My Github is available <a
              href='https://github.com/brookerose1312'>here</a
            >, and my LinkedIn is available{" "}
            <a href='https://www.linkedin.com/in/brooke-rose-baer/'>here</a>.
          </p>
        </div>
        <div class='card-body'>
          <h5 class='card-title'>A Trans Woman</h5>
          <p class='card-text'>
            I am an openly trans woman, and my pronouns are available{" "}
            <a href='https://en.pronouns.page/@brookerose1312'>here</a>.
          </p>
        </div>
        <div class='card-body'>
          <h5 class='card-title'>A Humanist</h5>
          <p class='card-text'>
            It is my personal goal to help as many people as I can.
          </p>
        </div>
      </div>

      <div class='card mt-3 bg-light'>
        <div class='card-header'>My Github Activity (@brookerose1312)</div>
        <div class='card-body d-flex justify-content-center'>
          <img
            src='http://ghchart.rshah.org/brookerose1312'
            alt="brookerose1312's Github chart"
          />
        </div>
      </div>

      <div class='card mt-3 bg-light'>
        <div class='card-header'>My Resume</div>
        <div class='card-body d-flex justify-content-center'>
          <iframe
            title='Resume'
            src='brooke-resume.pdf'
            width='100%'
            height='750px'></iframe>
        </div>
      </div>
    </div>
  </div>
</DefaultLayout>
