---
import { Image } from "astro:assets";
import brookeLogo from "../imgs/brooke-logo.png";
---

<nav
  class='navbar navbar-expand-lg bg-dark shadow sticky-top navbar-dark'
>
  <div class='container-fluid'>
    <a class='navbar-brand'>
      <Image src={brookeLogo} alt="Brooke's Logo" height={80} />
    </a>
    <button
      class='navbar-toggler'
      type='button'
      data-bs-toggle='collapse'
      data-bs-target='#header-navbar'
      aria-controls='navbarSupportedContent'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='header-navbar'>
      <ul class='navbar-nav me-auto'>
        <li class='nav-item'><a href='/' class='nav-link'>Home</a></li>
        <li class='nav-item'><a href='/about' class='nav-link'>About</a></li>
        <li class='nav-item'>
          <a href='/contact' class='nav-link'>Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
